body {
    background-color: rgb(29, 28, 28);
    width: 15rem;
    height: 20rem;
}

button {
    border: none;
}

hr {
    border: none;
    background-color: gray;
    height: 0.07rem;
    margin-top: 5%;
}

.title {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida GRande,sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.accountFrame {
    background-color: #3c3c3c;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    margin-top: 3%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.accountFrame * {
    cursor: pointer;
    transition: 0.3s;
}

.accountFrame img {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 100%;
}

.accountFrame label {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 18px;
    color: white;
    position: relative;
    top: -0.75rem;
    font-weight: 600;
}

.addAccount {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    background-color: #00e87e;
    color: white;
    width: 90%;
    height: 3rem;
    border-radius: 10px;
    margin: auto;
    display: block;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5%;
}

.addAccount:hover {
    background-color: #26FF9C;
    transition: 0.3s;
}

.removeAccount {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    background-color: #F4645D;
    color: white;
    width: 90%;
    height: 3rem;
    border-radius: 10px;
    margin: auto;
    display: block;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5%;
}

.removeAccount:hover {
    background-color: #ef4a41;
    transition: 0.3s;
}